h1{
    text-align: center;
}
h2{
    text-align: center;
}
#brasil{
    border: solid 3px #219ebc;
    height: 55vh;
    width: 80vw;
    background-color: #219ebc;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.brasilimg{
    height: 40vh;
    width: 20vw;
}
body{
    color: #023047;
}
*{
    color:#023047 ;
}